@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-size: 15px;
  scroll-padding-top: 8rem;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8ff;
  color: #0f172a;
}
