@import "tailwindcss";

html {
  scroll-behavior: smooth;
  font-size: 16px;
  scroll-padding-top: 8rem;
}

@media (max-width: 768px) {
  html {
    font-size: 17px;
    scroll-padding-top: 7rem;
  }
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f8ff;
  color: #0f172a;
}
